<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- START BLOCK : META -->
    <title>{title}</title>
    <meta name="description" content="{description}" />
    <meta name="keywords" content="{keyword}" />
    <meta name="author" content="metatags generator">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="7 days">
    <meta property="og:title" content="{gotitle}">
    <meta property="og:type" content="{gotype}" />
    <meta property="og:description" content="{description}" />
    <meta property="og:image" content="{ogimg}" />
    <meta property="og:url" content="{ogurl}" /> {add_metag}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- END BLOCK : META -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../asset/css/style.css">

</head>

<body>
    <!-- INCLUDE BLOCK : body -->

    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="../component/main.js"></script>
</body>

</html>